@font-face {
    font-family: 'Smiley Sans';
    src: url('fonts/SmileySans-Oblique.otf.woff2') format('woff2'),
         url('fonts/SmileySans-Oblique.ttf.woff2') format('woff2'),
         url('fonts/SmileySans-Oblique.ttf') format('truetype'),
         url('fonts/SmileySans-Oblique.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}